{% extends 'Controller/widget/base.html.twig' %}

{% block content %}
    <div class="col-12" style="padding: 12px 6px 0 6px;">
        {% include 'Controller/widget/partial/_all.html.twig' %}
    </div>
{% endblock %}

{% block javascript_end %}
    <script src="/js/rc.js" type="application/javascript"></script>
{% endblock %}