{% extends 'Controller/Admin/base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>Devices and Scenarios
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {%  if deviceStorage is null %}
                        Currently you have no devices stored. Please add new devices.
                    {% else %}
                        You have {{ deviceStorage.devices|length }} devices and {{ deviceStorage.scenarios|length }}
                        scenarios.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}