<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="/admin/widget/edit">
            <i class="fas fa-fw fa-edit"></i>
            <span>Edit Widget</span>
        </a>
    </li>
    <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Devices</span>
        </a>
        <div class="dropdown-menu show" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Operations</h6>
            <a class="dropdown-item" href="/admin"><i class="fas fa-fw fa-list"></i><span>List stored</span></a>
            <a class="dropdown-item" href="/discover">Discover Devices</a>
            <a class="dropdown-item" href="/admin">Edit remotes</a>
            <a class="dropdown-item" href="/admin">Edit scenarios</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Commands:</h6>
            <a class="dropdown-item" href="/admin">Learn new</a>
            <a class="dropdown-item" href="/admin">Edit commands</a>
        </div>
    </li>
</ul>
